.mat-toolbar {
  background: #f79d2e;
  color: rgb(255, 255, 255);

}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
  background-color: yellow;

}

.mat-raised-button {
  background-color: #f58b00;
  color:white;
}

.mat-raised-button:hover{
  background-color: #ffab3d;

}
